---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>{{ metadata.url }}</loc>
    <lastmod>{{ "March 24, 2021 12:00 AM" | ISODate }}</lastmod>
    <changefreq>daily</changefreq>
    <PageMap xmlns="http://www.google.com/schemas/sitemap-pagemap/1.0">
     <DataObject type="document">
       <Attribute name="collection">Page</Attribute>
       <Attribute name="title">Ali Akbar Mehta</Attribute>
     </DataObject>
    </PageMap>
  </url>
  <url>
    <loc>{{ metadata.url }}/curriculum-vitae/</loc>
    <lastmod>{{ "March 24, 2021 12:00 AM" | ISODate }}</lastmod>
    <changefreq>daily</changefreq>
    <PageMap xmlns="http://www.google.com/schemas/sitemap-pagemap/1.0">
     <DataObject type="document">
       <Attribute name="collection">Page</Attribute>
       <Attribute name="title">Curriculum vitae</Attribute>
     </DataObject>
    </PageMap>
  </url>
  <url>
    <loc>{{ metadata.url }}/portfolio-2021/</loc>
    <lastmod>{{ "March 24, 2021 12:00 AM" | ISODate }}</lastmod>
    <changefreq>daily</changefreq>
    <PageMap xmlns="http://www.google.com/schemas/sitemap-pagemap/1.0">
     <DataObject type="document">
       <Attribute name="collection">Page</Attribute>
       <Attribute name="title">Portfolio</Attribute>
     </DataObject>
    </PageMap>
  </url>
  <url>
    <loc>{{ metadata.url }}/404/</loc>
    <lastmod>{{ "March 24, 2021 12:00 AM" | ISODate }}</lastmod>
    <changefreq>daily</changefreq>
    <PageMap xmlns="http://www.google.com/schemas/sitemap-pagemap/1.0">
     <DataObject type="document">
       <Attribute name="collection">Page</Attribute>
       <Attribute name="title">404 - Page not found</Attribute>
     </DataObject>
    </PageMap>
  </url>

  {% for content in collections.projects %}
  <url>
    <loc>{{ metadata.url }}{{ content.url | url }}</loc>
    <lastmod>{{ content.data.pubdate | ISODate }}</lastmod>
    <changefreq>daily</changefreq>
    <PageMap xmlns="http://www.google.com/schemas/sitemap-pagemap/1.0">
     <DataObject type="document">
       <Attribute name="collection">Projects</Attribute>
       <Attribute name="title">{{ content.data.title }}</Attribute>
       <Attribute name="summary">{{ content.data.summary }}</Attribute>
       <Attribute name="pubdate">{{ content.data.pubdate }}</Attribute>
     </DataObject>
    </PageMap>
  </url>
  {% endfor %}

  {% for content in collections.curatorial %}
  <url>
    <loc>{{ metadata.url }}{{ content.url | url }}</loc>
    <lastmod>{{ content.data.pubdate | ISODate }}</lastmod>
    <changefreq>daily</changefreq>
    <PageMap xmlns="http://www.google.com/schemas/sitemap-pagemap/1.0">
     <DataObject type="document">
       <Attribute name="collection">Curatorial work</Attribute>
       <Attribute name="title">{{ content.data.title }}</Attribute>
       <Attribute name="summary">{{ content.data.summary }}</Attribute>
       <Attribute name="pubdate">{{ content.data.pubdate }}</Attribute>
     </DataObject>
    </PageMap>
  </url>
  {% endfor %}

  {% for content in collections.performances %}
  <url>
    <loc>{{ metadata.url }}{{ content.url | url }}</loc>
    <lastmod>{{ content.data.pubdate | ISODate }}</lastmod>
    <changefreq>daily</changefreq>
    <PageMap xmlns="http://www.google.com/schemas/sitemap-pagemap/1.0">
     <DataObject type="document">
       <Attribute name="collection">Performances</Attribute>
       <Attribute name="title">{{ content.data.title }}</Attribute>
       <Attribute name="summary">{{ content.data.summary }}</Attribute>
       <Attribute name="pubdate">{{ content.data.pubdate }}</Attribute>
     </DataObject>
    </PageMap>
  </url>
  {% endfor %}

  {% for content in collections.texts %}
  <url>
    <loc>{{ metadata.url }}{{ content.url | url }}</loc>
    <lastmod>{{ content.data.pubdate | ISODate }}</lastmod>
    <changefreq>daily</changefreq>
    <PageMap xmlns="http://www.google.com/schemas/sitemap-pagemap/1.0">
     <DataObject type="document">
       <Attribute name="collection">Texts</Attribute>
       <Attribute name="title">{{ content.data.title }}</Attribute>
       <Attribute name="summary">{{ content.data.summary }}</Attribute>
       <Attribute name="pubdate">{{ content.data.pubdate }}</Attribute>
     </DataObject>
    </PageMap>
  </url>
  {% endfor %}

  {% for content in collections.talks %}
  <url>
    <loc>{{ metadata.url }}{{ content.url | url }}</loc>
    <lastmod>{{ content.data.pubdate | ISODate }}</lastmod>
    <changefreq>daily</changefreq>
    <PageMap xmlns="http://www.google.com/schemas/sitemap-pagemap/1.0">
     <DataObject type="document">
       <Attribute name="collection">Talks &amp; teaching</Attribute>
       <Attribute name="title">{{ content.data.title }}</Attribute>
       <Attribute name="summary">{{ content.data.summary }}</Attribute>
       <Attribute name="pubdate">{{ content.data.pubdate }}</Attribute>
     </DataObject>
    </PageMap>
  </url>
  {% endfor %}

  {% for content in collections.exhibitions %}
  <url>
    <loc>{{ metadata.url }}{{ content.url | url }}</loc>
    <lastmod>{{ content.data.pubdate | ISODate }}</lastmod>
    <changefreq>daily</changefreq>
    <PageMap xmlns="http://www.google.com/schemas/sitemap-pagemap/1.0">
     <DataObject type="document">
       <Attribute name="collection">Exhibitions</Attribute>
       <Attribute name="title">{{ content.data.title }}</Attribute>
       <Attribute name="summary">{{ content.data.summary }}</Attribute>
       <Attribute name="pubdate">{{ content.data.pubdate }}</Attribute>
     </DataObject>
    </PageMap>
  </url>
  {% endfor %}

  {% for content in collections.about %}
  <url>
    <loc>{{ metadata.url }}{{ content.url | url }}</loc>
    <lastmod>{{ content.data.pubdate | ISODate }}</lastmod>
    <changefreq>daily</changefreq>
    <PageMap xmlns="http://www.google.com/schemas/sitemap-pagemap/1.0">
     <DataObject type="document">
       <Attribute name="collection">About</Attribute>
       <Attribute name="title">{{ content.data.title }}</Attribute>
       <Attribute name="summary">{{ content.data.summary }}</Attribute>
       <Attribute name="pubdate">{{ content.data.pubdate }}</Attribute>
     </DataObject>
    </PageMap>
  </url>
  {% endfor %}
</urlset>
