header {
  position: fixed;
  top: 0;
  left: var(--s-l);
  right: var(--s-l);
  height: var(--s-xxl);
  padding: var(--s-b) var(--s-l);
  line-height: var(--s-l);
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  background: var(--color-white);
  border-bottom: 1px solid var(--color-warm-light);

  a {
    color: var(--color-ink);
  }

  .site-title {
    font-family: var(--font-identity);
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.08em;
    text-transform: uppercase;

    & + span {
      @include small-caps;
      font-size: var(--s-s);
      font-weight: 400;
      margin-left: var(--s-b);
    }

    @media only screen and (max-width: 800px) {
      font-size: var(--s-b);
    }
  }

  .nav-links {
    margin: 0 0 0 auto;
    padding: 0;
    list-style: none;
    text-align: right;
    li {
      display: inline-block;
    }
  }

  .search {
    @extend %fa-icon;
    @extend .far;
    &:before { content: fa-content($fa-var-search); }
  }
  #btn-search-submit {
    width: 0;
    padding: 0;
    font-family: var(--font);
    font-size: var(--s-s);
    font-weight: 600 !important;
    letter-spacing: .05em;
    text-transform: uppercase;
    line-height: var(--s-l);
    background-color: var(--color-warm-light);
    border-radius: 2px;
    border: 0;
    outline: 0 !important;
    transition: var(--transition-all);
  }
  #search-field {
    margin: 0;
    padding: 0 0 0 var(--s-l);
    line-height: var(--s-l);
    border: 0;
    outline: 0 !important;
    box-shadow: 0 !important;
    background: url(/static/ui-img/icon-search.svg) no-repeat 0 0;
    max-width: var(--s-l);
    transition: max-width 0.2s ease-out;
    &:focus,
    &:active,
    &:not(:placeholder-shown) {
      max-width: calc(1.25 * var(--s-xxxl));
      + #btn-search-submit {
        width: auto;
        padding: 0 var(--s-s);
      }
    }
  }


  @media only screen and (max-width: 800px) {
    left: var(--s-b);
    right: var(--s-b);
    height: var(--s-xxl);
    padding: var(--s-b) var(--s-xs);
    .site-title + span {
      font-size: 10px;
    }
  }
  @media only screen and (max-width: 480px) {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: var(--s-b);
    align-items: center;
    padding: 0 var(--s-xs);
    .site-title,
    .site-title + span {
      display: block;
      margin: 0;
      line-height: 1;
    }
    .nav-links {
      grid-column: 2/-1;
    }
  }
}
