header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--s-xxl);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: var(--color-white);
  border-bottom: 1px solid var(--color-warm-light);

  a {
    color: var(--color-ink);
  }

  .site-title {
    pointer-events: auto;
    > div {
      position: absolute;
      top: 0;
      left: 0;
      white-space: nowrap;
      transform: rotate(-90deg);
      span {
        position: absolute;
        top: 0;
        right: 0;
        padding: var(--s-m) var(--s-l);
        background-color: var(--color-warm-dark);
        color: var(--color-white);
        @include meta;
        font-family: var(--font-identity);
      }
    }
  }

  .nav-links {
    margin: 0 0 0 auto;
    padding: 0;
    list-style: none;
    text-align: right;
    li {
      display: inline-block;
    }
  }

  span {
    @include small-caps;
    font-family: var(--font);
    font-weight: 700;
    margin-left: var(--s-s);
  }
  .search:before { content: fa-content($fa-var-search); }
}
