footer {
  position: relative;
  margin-left: -32px;
  margin-right: -32px;
  height: var(--s-xxl);
  padding: var(--s-b) var(--s-l);
  line-height: var(--s-l);
  display: flex;
  justify-content: flex-start;
  font-size: var(--font-size-small);
  border-top: 1px solid var(--color-warm-light);

  p {
    margin: 0;
    color: var(--color-warm);
  }
  a {
    color: var(--color-warm);
  }
}
