footer {
  padding: var(--s-b) 0;
  color: $color-ink;
  font-size: var(--font-size-small);
  letter-spacing: 0.05em;
  pointer-events: none;

  div {
    display: flex;
    justify-content: flex-start;
  }
  span {
    margin-right: var(--gutter);
  }
  a {
    color: $color-ink;
    pointer-events: auto;
  }
}
