h1.project-title {
  padding: 0 var(--gutter);
  margin-top: calc(var(--s-xxxl)*1.75);
  margin-bottom: 0;
  color: var(--color-warm-dark);
  font-family: var(--font);
  font-size: 7vw;
  line-height: 1.05;
  letter-spacing: -0.01em;

  &.fixed {
    position: fixed;
    z-index: -1;
    color: var(--color-warm);
  }

}
.project-subtitle {
  padding: 0 var(--gutter);
  margin-top: 0;
  margin-bottom: var(--s-xxl);
  color: var(--color-warm-dark);
}
.project-tag p {
  margin-right: calc(var(--s-xxxl)*1.75) !important;
  padding: 0 var(--gutter);
}
.project-hero {
  display: block;
  padding: 0 var(--gutter);
  max-width: var(--max-text-width);
  &.top {
    position: absolute;
    top: var(--s-xxxl);
    transform: translateY(-100%);
  }
}
.intro {
  @include txt;
  padding-top: var(--s-l);
  padding-bottom: var(--s-l);
  div.section-content {
  }
}
.project-content {
  @include txt;
  padding-top: var(--s-l);
  padding-bottom: var(--s-l);
  min-height: calc(var(--s-xxxl)*2);
  &.resource {
    background-color: rgba(var(--color-resource), 0.15);
  }
}
aside.meta {
  > div {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    transform: rotate(-90deg);
    p {
      position: absolute;
      top: 0;
      right: 0;
      margin: var(--gutter) 0;
      padding-right: var(--gutter);
      @include meta;
      color: var(--color-warm-dark);
      border-right: 1px solid var(--color-warm-dark);
    }
  }
}
div.section-content {
  > *:first-child {
    margin-top: 0;
  }
  > *:last-child {
    margin-bottom: 0;
  }
  h4 {
    font-weight: bold;
    max-width: var(--max-text-width);
  }
}
.summary + .full-content {
  display: none;
}

.fluid-vids {
  min-height: 120px;
  & + .fluid-vids {
    margin-top: var(--gutter);
  }
}
