.project {
  display: grid;
  grid-template-columns: repeat(8, minmax(0, 1fr));
  grid-column-gap: var(--s-m);
  @media screen and (max-width: 800px) {
    grid-template-columns: var(--s-l) repeat(7, minmax(0, 1fr));
    grid-column-gap: var(--s-xs);
  }

  & > * {
    grid-column: 2/-1;
  }
  .full-bleed {
    width: 100%;
    grid-column: 1 / -1;
  }

  h2, h3, h4, p, blockquote {
    max-width: var(--max-text-width);
  }

  h1 {
    font-size: 72px;
    font-weight: 100;
    line-height: 1;
    letter-spacing: -0.01em;
    @media screen and (max-width: 800px) {
      font-size: 56px;
    }
  }
  h2 {
    font-size: var(--s-l);
    font-weight: 200;
    line-height: 1.5;
    margin: var(--s-m) 0 0 0;
    @media screen and (max-width: 800px) {
      font-size: var(--s-m);
    }
  }
  h4 {
    margin: 0 0 var(--s-xl) 0;
  }
  p + h2 {
    margin-top: var(--s-l);
  }
  a {
    color: inherit;
    font-weight: 375;
    text-decoration: underline;
    transition: background-color var(--transition-timing);
    &:hover {
      background-color: var(--color-warm-light);
    }
  }
  ul {
    list-style-type: '-  ';
  }
  figure {
    margin: var(--s-m) 0;
    width: 100%;
    grid-column: 1/-1;
  }
  blockquote {
    margin: 2em 0;
    padding: var(--s-b) var(--s-m);
    background: var(--color-warm-light);
    border-radius: 2px;
    * {
      margin: 0;
    }
  }
  .toggle-section {
    margin-top: var(--s-l);
  }
}
.project > section {
  padding: var(--s-xl) 0;
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  grid-column-gap: var(--s-m);

  > * {
    grid-column: 1/6;
  }

  @media screen and (max-width: 800px) {
    padding: var(--s-m) 0;
    grid-column-gap: var(--s-xs);

    > * {
      grid-column: 1/-1;
    }
  }
}
.project .full-content,
.project .summary {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  grid-column-gap: var(--s-m);

  > * {
    grid-column: 1/6;
  }

  figure,
  p.img,
  .fluid-vids {
    grid-column: 1/7;
  }

  @media screen and (max-width: 800px) {
    > * {
      grid-column: 1/-1;
    }

    figure,
    p.img,
    .fluid-vids {
      grid-column: 1/-1;
    }
  }
}
.project-hero {
  @extend .full-bleed;
  img {
    width: 100%;
    max-height: 75vh;
    object-fit: cover;
    object-position: top;
  }
}
.project-toc {
  grid-column: 8/-1;
  position: sticky;
  top: 88px;
  left: 0;
  height: 0;
  overflow: visible;
  z-index: 999;
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  li {
    line-height: 1.3;
    margin-bottom: var(--s-xxs);
  }
  a {
    color: var(--color-warm);
    font-size: var(--font-size-small);
    text-decoration: none;
    transition: var(--transition-all);
    &:hover {
      background: transparent;
      text-decoration: underline;
    }
    &.active {
      color: var(--color-ink);
    }
  }
  .active a {
    color: var(--color-ink);
  }

  @media screen and (max-width: 800px) {
    display: none;
    grid-column: 1/-1;
    position: sticky;
    top: 56px;
    height: auto;
    background: var(--color-white);
    border-bottom: 1px solid var(--color-warm-light);
    padding: var(--s-xxs) var(--s-m);
  }
}
.project-tag {
  grid-column: 1/2;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;

  &:after {
    content: '';
    position: absolute;
    top: var(--s-l);
    bottom: var(--s-l);
    right: var(--s-m);
    width: 1px;
    background-color: var(--color-warm-light);
  }

  span {
    display: block;
    position: sticky;
    top: var(--s-xl);
    left: 0;

    @include small-caps;
    font-size: 11px;
    font-weight: 375;
    letter-spacing: 0.1em;
    line-height: calc(2 * var(--s-xxxl));
    text-align: center;
    white-space: nowrap;

    transform-origin: center;
    transform: rotate(-90deg);
  }

  @media screen and (max-width: 800px) {
    &:after {
      top: var(--s-b);
      bottom: var(--s-b);
      right: var(--s-xxs);
    }
    span {
      position: absolute;
      right: var(--s-m);
      left: auto;
      line-height: 16px;
      transform-origin: right;
    }
  }
}
