// p.img {
//   grid-column: 1/-1;
//   position: relative;
//   display: flex;
//   flex-direction: row;
//   flex-wrap: nowrap;
//   overflow-x: auto;
//   overflow-y: hidden;
//   justify-content: flex-start;
//   align-items: stretch;
//   max-width: calc((100vw * 0.8333333) - 32px) !important;
//   // box-shadow: -16px 0 0 rgba(var(--color-white),1), -20vw 0 0 rgba(var(--color-warm-light),1);
//
//   &::-webkit-scrollbar-track {
//   	background-color: var(--color-warm-light);
//   }
//   &::-webkit-scrollbar {
//   	height: 1px;
//   	background-color: transparent;
//   }
//   &::-webkit-scrollbar-thumb {
//   	background-color: var(--color-warm-dark);
//   }
//
//   div {
//     flex: 0 0 auto;
//     display: flex;
//     flex-direction: column;
//     justify-content: flex-end;
//     align-items: flex-start;
//     margin-right: var(--s-b);
//   }
//   img {
//     display: block;
//     max-height: 480px;
//     max-width: none;
//     cursor: pointer;
//   }
// }
// .img-caption {
//   display: block;
//   padding: var(--s-xs) 0;
//   color: var(--color-warm-dark);
// }
// .gallery-btn {
//   @extend %fa-icon;
//   @extend .fas;
//   color: inherit;
//   font-size: var(--font-size-large);
//   text-decoration: none !important;
//   cursor: pointer;
//   &.left:before { content: fa-content($fa-var-chevron-circle-left); margin-right: var(--s-s); }
//   &.right:before { content: fa-content($fa-var-chevron-circle-right); }
// }

p.img {
  max-width: none !important;

  img {
    max-height: 640px;
    max-width: 100%;
    object-fit: contain;
    object-position: center;
  }
}
.slick-dots {
  margin: var(--s-m) 0 0 0;
  padding: 0;
  list-style: none;
  text-align: left;
  li {
    display: inline-block;
    margin: 0 var(--s-xxs) 0 0;
    height: 4px;
    width: var(--s-l);
    background-color: var(--color-warm-light);
    cursor: pointer;
    &.slick-active {
      background-color: var(--color-ink);
    }
    button {
      border: 0;
      height: 4px;
      width: var(--s-l);
      opacity: 0;
    }
  }
}

.jBox-wrapper {
  pointer-events: none;
}
.jBox-overlay.jBox-overlay-Image {
  background: var(--color-white);
}
.jBox-image-label-container {
  bottom: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  * {
    position: relative;
  }
  .jBox-image-pointer-next {
    order: 100;
  }
}
.jBox-image-label {
  padding: 0;
  margin: 0 3em;
  width: auto;
  color: var(--color-ink);
  &:not(.active){
    display: none;
  }
}
.jBox-image-pointer-prev,
.jBox-image-pointer-next,
.jBox-overlay .jBox-closeButton {
  pointer-events: all;
  font-size: 1.5em;
  line-height: 40px;
  width: 40px;
  text-align: center;
  transform: none;
  color: var(--color-ink);
  &:hover {
    color: var(--color-ink);
  }
}
.jBox-image-pointer-prev:after {
  content: '←';
}
.jBox-image-pointer-next:after {
  content: '→';
}
.jBox-overlay .jBox-closeButton {
  svg {
    display: none !important;
  }
  &:after {
    content: '×';
  }
}
