.cv {
  .summary {
    grid-column: 2/-1;
  }
  .intro {
    padding-top: 0;
  }
  dl {
    margin-bottom: var(--s-xxl);
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-column-gap: var(--s-m);
    grid-row-gap: var(--s-s);
  }
  dd {
    margin: 0;
  }
}
