.page-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;

  > div,
  > article {
    flex: 1 0 auto;
  }
}
.toggle-section {
  @extend %fa-icon;
  @extend .fas;
  margin-top: var(--s-l);
  color: inherit;
  font-size: var(--font-size-large);
  text-decoration: none !important;

  .more:before { content: fa-content($fa-var-plus-circle); }
  .less:before { content: fa-content($fa-var-minus-circle); }
}
.tags {
  list-style: none;
  padding: 0;
}
.tag {
  display: inline-block;
  padding: var(--s-s) var(--s-m);
  margin: 0 var(--s-s) var(--s-s) 0;
  background-color: var(--color-warm);
  color: var(--color-ink) !important;
  text-decoration: none !important;
  @include small-caps;
  font-size: var(--font-size-small);
  font-weight: 700;
  border-radius: var(--s-xs);
  &.small {
    padding: var(--s-xs) var(--s-b);
    font-size: var(--font-size-small);
  }
  &.light {
    background-color: var(--color-warm-light);
  }
  &-project { background-color: var(--color-project); }
  &-performance { background-color: var(--color-performance); }
  &-talk { background-color: var(--color-talk); }
  &-exhibition { background-color: var(--color-exhibition); }
  &-residency { background-color: var(--color-residency); }
  &-text { background-color: var(--color-text); }
  &-publication { background-color: var(--color-publication); }
  &-press { background-color: var(--color-press); }
  &-resource { background-color: var(--color-resource); }
}
.home .list-subtitle {
  opacity: 0.6;
}
