.home {
  display: grid;
  grid-template-columns: var(--max-column-width) 1fr;
  grid-gap: var(--s-l);
  height: calc(100vh - var(--s-xxl));
  overflow: hidden;
}

.home-list {
  display: flex;
  height: 100%;
  overflow: hidden;
}
.home-list {
  div {
    position: relative;
    flex: 1 0 0;
    max-width: var(--max-column-width);
    position: relative;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    border-right: 1px solid transparent;
    transition: var(--transition-all);

    & + div {
      margin-left: var(--s-m);
    }

    &.collapsed {
      flex: 0 0 var(--s-l);
      overflow: hidden;
      border-right: 1px solid var(--color-warm-light);

      ul {
        transform: translateX(var(--s-l));
        opacity: 0;
      }
    }
  }

  ul {
    position: relative;
    padding: 0;
    margin: 0 0 0 var(--s-l);
    list-style: none;
    width: var(--max-column-width);
    border-left: 1px solid var(--color-warm-light);
    transition-delay: var(--transition-timing);
    transition: var(--transition-all);

    &:nth-child(2) {
      margin-top: calc(-1 * var(--s-l));
    }

    li {
      padding: var(--s-b) var(--s-l);
      font-weight: 500;
    }

    a {
      color: var(--color-ink);
      &:visited {
        color: var(--color-warm);
      }
    }
  }

  h2,
  .separator {
    display: block;
    position: sticky;
    top: 0;
    left: 0;
  }

  h2 {
    margin: 0;
    width: var(--max-column-width);
    font-size: 1em;
    line-height: var(--s-l);
    font-weight: 500;
    transform-origin: top right;
    transform: translateX(-100%) rotate(-90deg) translateX(-16px);
    text-align: right;
    white-space: nowrap;
    cursor: pointer;
    z-index: 10;
  }

  .separator {
    display: flex;
    align-items: center;
    gap: var(--s-xs);
    background: var(--color-white);
    padding: var(--s-b) 0;
    @include small-caps;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 0.1em;
    &:before,
    &:after {
      content: '';
      flex: 1 0 0;
      height: 1px;
      background: var(--color-warm-light);
    }
    &:before {
      flex: 0 0 var(--s-m);
    }
    &:last-child {
      display: none;
    }
  }

  .list-hero {
    width: 100%;
    display: block;
    border-radius: 2px;
    margin-bottom: 2px;
    box-shadow: 0 0 0 1px var(--color-warm-light);
  }

  .list-subtitle {
    font-weight: 300;
  }
}

.home-about {
  overflow-x: hidden;
  overflow-y: scroll;

  a {
    color: var(--color-ink);
  }
  .social,
  .partners,
  .copyright {
    margin-top: var(--s-l);
    font-size: var(--s-s);
  }
  .social {
    a {
      margin-right: var(--s-b);
      &:first-child {
        display: block;
      }
    }
  }
  .partners {
    h3 {
      margin: 0;
      font-size: 1em;
      font-weight: 600;
    }
    a {
      display: block;
    }
  }
}
