<li data-year="{{ content.pubdate }}" data-genre="{{ content.tag }}">
  {% if content.parent %}
    <a href="/content/{{ content.parent | strip | slugify: 'latin' }}#{{ content.title | split: "~" | last | strip | slugify: 'latin' }}">
      {{ content.pubdate }} • {{ content.title | split: "~" | last | strip }}
      {% if content.subtitle and content.subtitle != '' %} ({{ content.subtitle }}){% endif %}
    </a>
  {% else %}
    <a href="/content/{{ content.title | split: "~" | last | strip | slugify: 'latin' }}">
      {{ content.pubdate }} • {{ content.title | split: "~" | last | strip }}
      {% if content.subtitle and content.subtitle != '' %} ({{ content.subtitle }}){% endif %}
    </a>
  {% endif %}
</li>
