{% assign displaysub = 'solo exhibition,group exhibition,text,unpublished,publication' | split: ',' %}
<li class="project-year-genre" data-year="{{ content.pubdate }}" data-genre="{{ content.tag | replace: ' ', '-' }}">
{% if content.parent %}
  <a href="/content/{{ content.parent | strip | slugify: 'latin' }}#{{ content.title | split: "~" | last | strip | slugify: 'latin' }}" >
    {{ content.title | split: "~" | last | strip }}
    {% if displaysub contains content.tag %}
      {% if content.subtitle and content.subtitle != '' %}<br/><span class="list-subtitle">{{ content.subtitle }}</span>{% endif %}
    {% endif %}
  </a>
{% else %}
  <a href="/content/{{ content.title | split: "~" | last | strip | slugify: 'latin' }}">
    {{ content.title | split: "~" | last | strip }}
    {% if displaysub contains content.tag %}
      {% if content.subtitle and content.subtitle != '' %}<br/><span class="list-subtitle">{{ content.subtitle }}</span>{% endif %}
    {% endif %}
  </a>
{% endif %}
</li>
