<section class="project-content {{ section.layout }}">
  <aside class="meta">
    <div><p>{{ section.layout }} • {{ section.pubdate }}</p></div>
  </aside>
  <div class="section-content" data-title="{{ section.title | split: "~" | last | strip | slugify: 'latin' }}">
    <h2>{{ section.title | split: "~" | last | strip }}</h2>
    {% if section.summary %}
      <div class="summary">{{ section.summary | markdownify }}</div>
    {% endif %}
      <div class="full-content">{{ section.content | markdownify }}</div>
      {% if section.summary and section.content %}
        <a href="#" class="toggle-section" data-title="{{ section.title | split: "~" | last | strip | slugify: 'latin' }}">
          <span class="more"></span>
          <span class="less" style="display: none;"></span>
        </a>
      {% endif %}
  </div>
</section>
