<section class="project-content {{ section.layout }}">
  <aside class="meta">
    <p class="pub-date">{{ section.pubdate }}</p>
    <p class="pub-type">{{ section.layout }}</p>
  </aside>
  <div class="section-content">
    <h2>{{ section.title | split: "~" | last | strip }}</h2>
    {% if section.summary %}
      <div class="text">{{ section.summary | markdownify }}</div>
      <p><a href="{{ section.url }}">More &rarr;</a></p>
    {% else %}
      <div class="text">{{ section.content }}</div>
    {% endif %}
  </div>
</section>
