<section class="project-content {{ section.layout }}">
  <aside class="meta">
    <p class="pub-date">{{ section.pubdate }}</p>
  </aside>
  <div class="section-content" data-title="{{ section.title | split: "~" | last | strip | slugify: 'latin' }}">
    <h2>{{ section.title | split: "~" | last | strip }}</h2>
    {% if section.summary %}
      <div class="summary text">{{ section.summary | markdownify }}</div>
    {% endif %}
      <div class="full text">{{ section.content | markdownify }}</div>
    {% if section.summary %}
      <a href="#" class="toggle-section" data-title="{{ section.title | split: "~" | last | strip | slugify: 'latin' }}">More / Less</a>
    {% endif %}
  </div>
</section>
