// COLORS
$color-red:     #D9392D;

// GREYS
$color-black:        #000000;
$color-ink:          #000000;
$color-grey-darkest: #2D2D2D;
$color-grey-dark:    #4B4B4B;
$color-grey:         #919191;
$color-grey-light:   #d7d7d7;
$color-white:        #FFFFFF;

// TYPOGRAPHY
$text-font-family: 'Merriweather Sans', sans-serif;
$font-serif: 'Merriweather', serif;
$font-sans: 'Merriweather Sans', sans-serif;
$font-identity: 'Rubik Mono One', sans-serif;
$line-height-base: 1.5em;

// SIZES
// Use these to specify fixed size elements
$container-max-width: 1024px;
$responsive-medium:   1024px;
$responsive-small:    640px;
$max-text-width:      720px;

// SPACING
// Use these variables for padding & margin
$s-xxxl:128px;
$s-xxl: 64px;
$s-xl:  48px;
$s-l:   32px;
$s-m:   24px;
$s-b:   16px;
$s-s:   8px;
$s-xs:  4px;
$s-xxs: 2px;

@mixin rc-small-caps {
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
