// COLORS
$color-red:     #D9392D;

// GREYS
$color-black:        #000000;
$color-ink:          #000000;
$color-grey-darkest: #2D2D2D;
$color-grey-dark:    #4B4B4B;
$color-grey:         #919191;
$color-grey-light:   #d7d7d7;
$color-white:        #FFFFFF;

// GRADIENTS
$gradient: linear-gradient(45deg, #c1272d 20%,#ef492e 80%);

// TYPOGRAPHY
$text-font-family: "Work Sans", sans-serif;
$font-rc: 'Roboto Condensed', sans-serif;
$font-rm: 'Roboto Mono', monospace;
$font-r: 'Roboto', sans-serif;
$font-ws: 'Work Sans', sans-serif;
$line-height-base: 1.33em;

// SIZES
// Use these to specify fixed size elements
$container-max-width: 1024px;
$responsive-medium:   1024px;
$responsive-small:    640px;

// PRINT CONFIG
$page-size: A4;
$page-orientation: portrait;
$bcard-size: 84mm 55mm;
$bcard-orientation: landscape;
$bleed: 20mm;

// SPACING
// Use these variables for padding & margin
$s-xxxl:128px;
$s-xxl: 64px;
$s-xl:  48px;
$s-l:   32px;
$s-m:   24px;
$s-b:   16px;
$s-s:   8px;
$s-xs:  4px;
$s-xxs: 2px;

// PRINT SPACING
// Use these variables for padding & margin
$p-xxxl:12.8mm;
$p-xxl: 6.4mm;
$p-xl:  4.8mm;
$p-l:   3.2mm;
$p-m:   2.4mm;
$p-b:   1.6mm;
$p-s:   0.8mm;
$p-xs:  0.4mm;
$p-xxs: 0.2mm;

// MIXINS
$box-shadow-doc: 0 5px 40px rgba(black, 0.2);

@mixin rc-small-caps {
  font-family: $font-rc;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
