// COLORS
$color-red-light:    #F37677;
$color-red:          #E8595A;
$color-red-dark:     #88191A;

$color-pink-light:   #FFC5DC;
$color-pink:         #E871A0;
$color-pink-dark:    #74344E;

$color-blue-light:   #C6DCF1;
$color-blue:         #4F92D3;
$color-blue-dark:    #1F354B;
$color-blue-default: #0000EE;

// GREYS
$color-black:        #000000;
$color-grey-darkest: #2D2D2D;
$color-grey-dark:    #4B4B4B;
$color-grey:         #919191;
$color-grey-light:   #d7d7d7;
$color-white:        #FFFFFF;

$color-warm-light:   #F2F0EC;
$color-warm:         #A09F92;
$color-warm-dark:    #5A5652;
$color-warm-darker:  #4c4945;

$color-ink:          $color-grey-darkest;
$color-link:         #e4bb70;

$color-project:      #00FFFF;
$color-performance:  #FF0099;
$color-talk:         #FF45E5;
$color-exhibition:   #FDB913;
$color-residency:    #66C6FF;
$color-text:         #CCFF00;
$color-publication:  #00FF99;
$color-press:        #AE69FF;
$color-resource:     #E871A0;

// TYPOGRAPHY
$font-serif: 'Spectral','Merriweather', serif;
$font-sans: 'Karla','Merriweather Sans', sans-serif;
$font-identity: 'IBM Plex Mono', monospace;
$font-large: 'Ryman Eco Regular', serif;
$title-font-family: $font-large;
$text-font-family: $font-sans;
$font-size-small: 0.8rem;
$font-size-large: 1.25rem;
$line-height-base: 1.5;

// SIZES
// Use these to specify fixed size elements
$container-max-width: 1024px;
$responsive-medium:   1024px;
$responsive-small:    640px;
$max-text-width:      720px;
$thumbnail-height:    360px;

// SPACING
// Use these variables for padding & margin
$s-xxxl:128px;
$s-xxl: 64px;
$s-xl:  48px;
$s-l:   32px;
$s-m:   24px;
$s-b:   16px;
$s-s:   8px;
$s-xs:  4px;
$s-xxs: 2px;

// MIXINS
@mixin small-caps {
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
@mixin meta {
  font-family: $font-sans;
  font-size: $font-size-small;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  * {
    margin: 0;
  }
}
@mixin txt {
  h1, h2, h3, p, ul, ol {
    max-width: $max-text-width;
  }
}
