// FONTS IMPORT
@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:400,400i,700|Merriweather:400,400i|Rubik+Mono+One');

html,
body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  * {
    box-sizing: border-box;
    // outline: 1px solid salmon;
  }
}
body {
  font-size: 14px;
  font-size-adjust: auto;
  font-family: $font-sans;
  line-height: $line-height-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $color-white;
  color: $color-ink;
  widows: 2;
  orphans: 2;
}
h1, h2, h3, h4, h5, h6 {
}
a {
}
p {
  margin-bottom: 1em;
}
img {
  max-width: 100%;
}
