// FONTS IMPORT
@import url('https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i|Spectral:400,400i,600,600i');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:700|PT+Mono|Source+Code+Pro:900|Space+Mono:700');

html,
body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  * {
    box-sizing: border-box;
    // outline: 1px solid salmon;
  }
  div {
    position: relative;
  }
}
body {
  font-size: 16px;
  font-family: $font-sans;
  line-height: $line-height-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $color-white;
  color: $color-ink;
  widows: 2;
  orphans: 2;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}
a {
}
p + p {
  margin-top: 1.5em;
}
img {
  max-width: 100%;
}
