footer {
  @extend .r;
  padding: $s-xxl 0;
  color: inherit;
  font-size: 0.85rem;

  div:first-child {
    @extend .c;
    @extend .c-1;
  }
  div:last-child {
    @extend .c;
    @extend .c-11;
  }
}
