footer {
  @extend .r;
  padding: $s-xxl 0;
  color: #1F354B;
  font-size: $font-size-small;
  letter-spacing: 0.05em;

  div {
    @extend .c;
    @extend .c-10;
    padding-left: calc(16.6666666667% + 16px);
  }
}
