.project-content {
  @extend .r;
  @include txt;
  padding-top: $s-l;
  padding-bottom: $s-l;
}
aside.meta {
  @extend .c;
  @extend .c-2;
}
div.section-content {
  @extend .c;
  @extend .c-10;
  > *:first-child {
    margin-top: 0;
  }
  > *:last-child {
    margin-bottom: 0;
  }
}
.project-hero {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-repeat: repeat-x;
  background-size: auto 50vh;
  width: 100%;
  height: 50vh;
}
h1.project-title {
  @extend .o-2;
  margin-top: 0;
  margin-bottom: 0;
  padding: $gutter $gutter 0 $gutter;
  background-color: $color-white;
  font-family: $font-serif;
  line-height: 1.2;
  letter-spacing: -0.03em;
  max-width: $max-text-width*0.75;
}
.intro {
  @include txt;
  padding-top: $s-l;
  padding-bottom: $s-l;
  div.section-content {
    @extend .o-2;
  }
}
.full-content {
  display: none;
}
