h1.project-title {
  @extend .o-1;
  @extend .w-10;
  padding: 0 $gutter;
  margin-top: $s-xxxl*1.75;
  margin-bottom: 0;
  color: $color-warm-dark;
  font-family: $title-font-family;
  font-size: 7vw;
  line-height: 1.05;
  letter-spacing: -0.01em;

  &.fixed {
    position: fixed;
    z-index: -1;
    color: lighten($color-warm, 35%);
  }

}
.project-subtitle {
  @extend .o-1;
  @extend .w-9;
  padding: 0 $gutter;
  margin-top: 0;
  margin-bottom: $s-xxl;
  color: $color-warm-dark;
}
.project-tag p {
  @extend .o-1;
  margin-right: $s-xxxl*1.75 !important;
  padding: 0 $gutter;
}
.project-hero {
  display: block;
  @extend .o-2;
  @extend .w-10;
  padding: 0 $gutter;
  max-width: $max-text-width;
  &.top {
    position: absolute;
    top: $s-xxxl;
    transform: translateY(-100%);
  }
}
.intro {
  @include txt;
  padding-top: $s-l;
  padding-bottom: $s-l;
  div.section-content {
    @extend .o-2;
  }
}
.project-content {
  @extend .r;
  @include txt;
  padding-top: $s-l;
  padding-bottom: $s-l;
  min-height: $s-xxxl * 2;
}
aside.meta {
  @extend .c;
  @extend .c-2;
  > div {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    transform: rotate(-90deg);
    p {
      position: absolute;
      top: 0;
      right: 0;
      margin: $gutter 0;
      padding-right: $gutter;
      @include meta;
      color: $color-warm-dark;
      border-right: 1px solid $color-warm-dark;
    }
  }
}
div.section-content {
  @extend .c;
  @extend .c-10;
  > *:first-child {
    margin-top: 0;
  }
  > *:last-child {
    margin-bottom: 0;
  }
}
.full-content {
  display: none;
}
