p.img {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  justify-content: flex-start;
  align-items: center;
  width: 100% !important;
  max-width: none;
  box-shadow: -8px 0 0 rgba($color-white,1), -20vw 0 0 rgba($color-warm-light,1);

  img {
    flex: 0 0 auto;
    margin-right: $s-s;
    height: 640px;
  }
}
