.timeline {
  position: fixed;
  bottom: $s-xl;
  left: 0;
  right: 0;
}
.switcher-year,
.switcher-genre {
  @extend %fa-icon;
  @extend .far;
  text-decoration: none !important;
  text-align: center;
  display: inline-block;
  width: $s-xl;
  height: $s-xl;
  line-height: $s-xl;
  background-color: $color-ink;
  border-radius: 50%;
}
.switcher-year:before { content: fa-content($fa-var-calendar); }
.switcher-genre:before { content: fa-content($fa-var-tag); }

.by-year,
.by-genre {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-x: scroll;
  overflow-y: hidden;

  &::-webkit-scrollbar-track {
    background-color: $color-warm-dark;
  }
  &::-webkit-scrollbar {
    height: 1px;
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $color-warm-light;
  }

  & > div {
    flex: 1 0 auto;
    &:first-child {
      margin-left: calc(8.333333% - 16px);
    }

    & > span {
      display: inline-block;
      margin-bottom: $s-s;
      padding: $s-xxs $s-b;
      border-radius: $s-xs;
      background-color: $color-ink;
      @include meta;
    }
  }
  ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    max-width: none !important;
    width: 880px !important;
    height: 368px;

    li {
      margin-bottom: 4px;
      margin-right: 40px;
      padding-left: 12px;
      width: 400px;
      border-left: 4px solid currentColor;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  li[data-genre="project"],
  li[data-genre="ongoing-project"],
  li[data-genre="past-project"],
  li[data-genre="artwork"],
  li[data-genre="video"],
  li[data-genre="individual-work"]   { border-color: $color-project; }

  li[data-genre="performance"]       { border-color: $color-performance; }

  li[data-genre="talk"]              { border-color: $color-talk; }

  li[data-genre="exhibition"],
  li[data-genre="solo-exhibition"],
  li[data-genre="group-exhibition"]  { border-color: $color-exhibition; }

  li[data-genre="text"],
  li[data-genre="unpublished"]       { border-color: $color-text; }

  li[data-genre="publication"]       { border-color: $color-publication; }

  li[data-genre="press"]             { border-color: $color-press; }

  li[data-genre="resource"]          { border-color: $color-resource; }
}
