header {
  @extend .r;
  position: fixed;
  top: 0;
  left: 0;
  .header-content {
    @extend .c-2;
    padding: $s-b;
    background: white;
  }
}
.page-content {
  min-height: 100vh;
}
footer {
  @extend .r;
  padding: $s-xxl 0;
  font-size: 0.8rem;

  div:first-child {
    @extend .c;
    @extend .c-2;
  }
  div:last-child {
    @extend .c;
    @extend .c-10;
  }
}
