.home {
  @include txt;
  // background-color: $color-warm-dark;
  color: $color-warm-light;

  display: flex;
  flex-direction: column;
  justify-content: center;

  a {
    color: $color-warm-light;
  }

  .site-title {
    font-size: 2.5rem;
  }
  .site-intro {
    padding-top: $s-l;
    // max-height: 560px;
    // overflow: scroll;
  }
  .header-content {
    justify-content: flex-end;
  }
  .listing {
    max-width: $max-text-width*1.25;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: $s-l 0;
    .tag {
      white-space: nowrap;
      cursor: pointer;
    }
    &>div {
      position: relative;
    }
    &>div:hover ul,
    &>div ul:hover {
      visibility: visible;
      opacity: 1;
    }
    ul {
      position: absolute;
      top: $s-b;
      left: 0;
      list-style: none;
      padding: 0;
      margin: $s-b 0;
      background-color: $color-warm-dark;
      // border: 1px solid $color-warm;
      border-radius: $s-xs;
      width: $s-xxxl * 5;
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.1s ease-in, width 0.3s ease-in;

      li {
        margin: $s-xs 0;
        font-size: 0.9rem;
      }
    }
  }
  footer {
    color: $color-warm;
    div {
      padding-left: 8.3333333333%;
    }
    a {
      color: $color-warm;
    }
  }
}
