<header class="site-header" role="banner">
  <a class="site-title" href="/">{{ metadata.title }}</a>
  <span>{{ metadata.subtitle }}</span>
  <ul class="nav-links" role="navigation">
    {# <li><a class="search" href=""><span></span></a></li> #}
  </ul>
</header>
