<header class="site-header" role="banner">
  <div class="header-content">
    <a class="site-title" href="/"><div><span>{{ metadata.title }}</span></div></a>
    <ul class="menu-links">
      <li><a class="menu-link top" href="#top"><span></span></a></li>
    </ul>
  </div>
</header>
