{% set displaysub = ['solo exhibition','group exhibition','talk','text','performance','unpublished','publication'] %}
<li class="project-year-genre" data-year="{{ content.data.pubdate }}" data-genre="{{ content.data.tags | replace(' ','-') }}">
{% if content.data.parent %}
  {% if content.data.parent != 'Poems' %}
    <a href="/content/{{ content.data.parent | trim | slugify }}#{{ content.data.title.split('~') | last | trim | slugify }}" >
      {% if content.data.hero %}
        <img class="list-hero" src="{{ content.data.hero }}" />
      {% endif %}
      {{ content.data.title.split('~') | last | trim }}
      {% if content.data.tags.toString() in displaysub %}
        {% if content.data.shortdesc and content.data.shortdesc != '' %}
          <br/><span class="list-subtitle">{{ content.data.shortdesc | md | safe }}</span>
        {% else %}
          {% if content.data.subtitle and content.data.subtitle != '' %}<br/><span class="list-subtitle">{{ content.data.subtitle }}</span>{% endif %}
        {% endif %}
      {% endif %}
    </a>
  {% endif %}
{% else %}
  <a href="/content/{{ content.data.title.split('~') | last | trim | slugify }}">
    {% if content.data.hero %}
      <img class="list-hero" src="{{ content.data.hero }}" />
    {% endif %}
    {{ content.data.title.split('~') | last | trim }}
    {% if content.data.tags.toString() in displaysub %}
      {% if content.data.shortdesc and content.data.shortdesc != '' %}
        <br/><span class="list-subtitle">{{ content.data.shortdesc | md | safe }}</span>
      {% else %}
        {% if content.data.subtitle and content.data.subtitle != '' %}<br/><span class="list-subtitle">{{ content.data.subtitle }}</span>{% endif %}
      {% endif %}
    {% endif %}
  </a>
{% endif %}
</li>
