{% set displaysub = ['solo exhibition','group exhibition','talk','text','performance','unpublished','publication'] %}
<li class="project-year-genre" data-year="{{ content.pubdate }}" data-genre="{{ content.tag | replace: ' ', '-' }}">
{% if content.parent %}
  {% if content.parent != 'Poems' %}
    <a href="/content/{{ content.parent | trim | slug }}#{{ content.title.split('~').slice(-1)[0] | trim | slug }}" >
      {{ content.title.split('~').slice(-1)[0] | trim }}
      {% if content.tag in displaysub %}
        {% if content.subtitle and content.subtitle != '' %}<br/><span class="list-subtitle">{{ content.subtitle }}</span>{% endif %}
      {% endif %}
    </a>
  {% endif %}
{% else %}
  <a href="/content/{{ content.title.split('~').slice(-1)[0] | trim | slug }}">
    {{ content.title.split('~').slice(-1)[0] | trim }}
    {% if content.tag in displaysub %}
      {% if content.subtitle and content.subtitle != '' %}<br/><span class="list-subtitle">{{ content.subtitle }}</span>{% endif %}
    {% endif %}
  </a>
{% endif %}
</li>
