{% set projects = ['ongoing project','past project','artwork','video'] %}
{% set curatorial = ['curatorial'] %}
{% set exhibitions = ['solo exhibition','group exhibition','residency'] %}
{% set talks = ['talk'] %}
{% set performances = ['performance'] %}
{% set texts = ['publication','unpublished'] %}
{% set about = ['press','resource','text'] %}

{% set sortedcontent = collections.content %}
<div class="by-genre">
  <div>
    <span class="timeline-meta" id="projects">projects</span>
    <ul>
      {% for tag in projects %}
      {% for content in sortedcontent %}
        {% if tag == content.data.tags %}
          {% include "components/home-project-title.njk" %}
        {% endif %}
      {% endfor %}
      {% endfor %}
    </ul>
  </div>
  {% for tag in sortedtags1 %}
  <div>
    <span class="timeline-meta" id="{{ tag }}s">{{ tag }}s</span>
    <ul>
      {% for content in sortedcontent %}
        {% if tag == content.data.tags %}
          {% include "components/home-project-title.njk" %}
        {% endif %}
      {% endfor %}
    </ul>
  </div>
  {% endfor %}
  <div>
    <span class="timeline-meta" id="exhibitions">exhibitions</span>
    <ul>
      {% for tag in exhibitions %}
      {% for content in sortedcontent %}
        {% if tag == content.data.tags %}
          {% include "components/home-project-title.njk" %}
        {% endif %}
      {% endfor %}
      {% endfor %}
    </ul>
  </div>
  <div>
    <span class="timeline-meta" id="residencies">residencies</span>
    <ul>
      {% for tag in residencies %}
      {% for content in sortedcontent %}
        {% if tag == content.data.tags %}
          {% include "components/home-project-title.njk" %}
        {% endif %}
      {% endfor %}
      {% endfor %}
    </ul>
  </div>
  <div>
    <span class="timeline-meta" id="texts">texts</span>
    <ul>
      {% for tag in text %}
      {% for content in sortedcontent %}
        {% if tag == content.data.tags %}
          {% include "components/home-project-title.njk" %}
        {% endif %}
      {% endfor %}
      {% endfor %}
    </ul>
  </div>
  <div>
    <span class="timeline-meta" id="publications">publications</span>
    <ul>
      {% for tag in publications %}
      {% for content in sortedcontent %}
        {% if tag == content.data.tags %}
          {% include "components/home-project-title.njk" %}
        {% endif %}
      {% endfor %}
      {% endfor %}
    </ul>
  </div>
  <div>
    <span class="timeline-meta" id="press">press</span>
    <ul>
      {% for tag in press %}
      {% for content in sortedcontent %}
        {% if tag == content.data.tags %}
          {% include "components/home-project-title.njk" %}
        {% endif %}
      {% endfor %}
      {% endfor %}
    </ul>
  </div>
</div>
