<div class="all-projects">
  <ul>
    {% for content in collections.content %}
      <li>{{ content.data.pubdate }} — {{ content.data.title.split('~') | last | trim }}</li>
    {% endfor %}
  </ul>
</div>
