{% set years = [2022, 2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013, 2012, 2011, 2010, 2009, 2007] %}
<div>
  <h2>Projects</h2>
  {% for year in years %}
    <ul>
      <li class="separator">{{ year }}</li>
      {% for content in collections.projects %}
        {% if year in content.data.pubdate %}
          {% include "components/home-project-title.njk" %}
        {% endif %}
      {% endfor %}
    </ul>
  {% endfor %}
</div>
<div class="collapsed">
  <h2>Curatorial work</h2>
  {% for year in years %}
    <ul>
      <li class="separator">{{ year }}</li>
      {% for content in collections.curatorial %}
        {% if year in content.data.pubdate %}
          {% include "components/home-project-title.njk" %}
        {% endif %}
      {% endfor %}
    </ul>
  {% endfor %}
</div>
<div class="collapsed">
  <h2>Performances</h2>
  {% for year in years %}
    <ul>
      <li class="separator">{{ year }}</li>
      {% for content in collections.performances %}
        {% if year in content.data.pubdate %}
          {% include "components/home-project-title.njk" %}
        {% endif %}
      {% endfor %}
    </ul>
  {% endfor %}
</div>
<div class="collapsed">
  <h2>Texts</h2>
  {% for year in years %}
    <ul>
      <li class="separator">{{ year }}</li>
      {% for content in collections.texts %}
        {% if year in content.data.pubdate %}
          {% include "components/home-project-title.njk" %}
        {% endif %}
      {% endfor %}
    </ul>
  {% endfor %}
</div>
<div class="collapsed">
  <h2>Talks & teaching</h2>
  {% for year in years %}
    <ul>
      <li class="separator">{{ year }}</li>
      {% for content in collections.talks %}
        {% if year in content.data.pubdate %}
          {% include "components/home-project-title.njk" %}
        {% endif %}
      {% endfor %}
    </ul>
  {% endfor %}
</div>
<div class="collapsed">
  <h2>Exhibitions</h2>
  {% for year in years %}
    <ul>
      <li class="separator">{{ year }}</li>
      {% for content in collections.exhibitions %}
        {% if year in content.data.pubdate %}
          {% include "components/home-project-title.njk" %}
        {% endif %}
      {% endfor %}
    </ul>
  {% endfor %}
</div>
<div class="collapsed">
  <h2>About</h2>
  {% for year in years %}
    <ul>
      <li class="separator">{{ year }}</li>
      {% for content in collections.about %}
        {% if year in content.data.pubdate %}
          {% include "components/home-project-title.njk" %}
        {% endif %}
      {% endfor %}
    </ul>
  {% endfor %}
</div>
