---
layout: default
---
<article class="project">
  <span id="top"></span>
  {% if page.hero %}
    <img class="project-hero top" src="{{ page.hero}}" />
  {% endif %}
  <aside class="project-tag meta">
    <div><p>{{ page.tag }}</p></div>
  </aside>
  <h1 class="project-title fixed">{{ page.title | escape }}</h1>
  <h1 class="project-title">{{ page.title | escape }}</h1>
  <h2 class="project-subtitle">{{ page.subtitle | escape }}</h2>
  {% if page.hero %}
    <img class="project-hero" src="{{ page.hero}}" />
  {% endif %}
  <section class="intro txt">
    <div class="section-content">
      {{ content | markdownify }}
    </div>
  </section>

  {% assign sections = site.content %}
  {% assign contents = page.children %}

  {% for content in contents %}
    {% for section in sections %}
      {% if section.title == content %}

      {%- include section.html -%}

      {% endif %}
    {% endfor %}
  {% endfor %}
</article>
