<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    <script src="{{ "/assets/boids.js" | relative_url }}"></script>

    <main class="page-content home r" aria-label="Content">
      {%- include header.html -%}
      {% assign about = site.documents | where: "slug", "about" | first %}
      <div class="c c-12 p-1">
        <div class="site-intro">
          <h1 class="site-title">{{ site.title }}</h1>
          <p class="sub-site-title">{{about.content}}</p>
        </div>
        <div>
          <a class="switcher-year" href="#"><span>By Date</span></a>
          <a class="switcher-genre" href="#"><span>By Genre</span></a>
        </div>
      </div>
      <div class="timeline">
        <div class="by-year"></div>
        <div class="by-genre"></div>
      </div>
      {%- include footer.html -%}

      {% assign sortedcontent = site.content | sort: 'pubdate' | reverse %}
      <div class="all-projects hide">
        {% for content in sortedcontent %}
          {%- include home2-project-title.html -%}
        {% endfor %}
      </div>
    </main>
  </body>

</html>
