<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    <main class="page-content home r" aria-label="Content">
      {%- include header.html -%}
      <div class="c c-12 p-2">
        <h1 class="site-title">{{ site.title }}</h1>
        <p class="sub-site-title">{{ site.description }}</p>

        {% assign sortedtags = 'performance,talk,publication,solo-exhibition,group-exhibition' | split: ',' %}
        <div class="listing">
          <div>
            <h2 class="tag tag-projects">projects</h2>
            <ul>
              {% for project in site.projects %}
              <li><a href="{{ project.url }}">{{ project.title }}</a>{% if project.ptype %} ({{ project.ptype }}) {% endif %}</li>
              {% endfor %}
            </ul>
          </div>
          {% for tag in sortedtags %}
          <div>
            <h2 class="tag tag-{{ tag }}">{{ tag }}s</h2>
            <ul>
              {% for content in site.content %}
                {% if tag == content.type %}
                <li><a href="/projects/{{ content.parent | strip | slugify: 'latin' }}#{{ content.title | split: "~" | last | strip | slugify: 'latin' }}">{{ content.title | split: "~" | last | strip }}</a> ({{ content.parent }})</li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
          {% endfor %}
        </div>


        <!-- <div class="switcher">
        <p>
          <b>
            <a class="switcher-year" href="#">Date</a> •
            <a class="switcher-genre" href="#">Genre</a>
          </b>
        </p>
        <div class="by-year"></div>
        <div class="by-genre hide"></div>
        </div> -->
      </div>
      {%- include footer.html -%}
    </main>
  </body>

</html>
