<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    <script src="{{ "/assets/boids.js" | relative_url }}"></script>

    <main class="page-content home r" aria-label="Content">
      {%- include header.html -%}
      {% assign about = site.documents | where: "slug", "about" | first %}
      <div class="c c-12 p-1 intro">
        <h1 class="site-title">{{ site.title }}</h1>
        <p class="sub-site-title">{{about.content}}</p>
        <p>
          <a class="switcher-year" href="#"></a>&nbsp;<a class="switcher-genre" href="#"></a>
        </p>
      </div>
      <div class="c c-12 timeline">
        <div class="by-year"></div>
        <div class="by-genre hide"></div>
      </div>
      {%- include footer.html -%}

      {% assign sortedcontent = site.content | sort: 'pubdate' | reverse %}
      <div class="all-projects hide">
        {% for content in sortedcontent %}
          <li class="project-year-genre" data-year="{{ content.pubdate }}" data-genre="{{ content.tag | replace: ' ', '-' }}">
          {% if content.parent %}
            <a href="/content/{{ content.parent | strip | slugify: 'latin' }}#{{ content.title | split: "~" | last | strip | slugify: 'latin' }}" >{{ content.title | split: "~" | last | strip }}</a>
          {% else %}
            <a href="/content/{{ content.title | split: "~" | last | strip | slugify: 'latin' }}">{{ content.title | split: "~" | last | strip }}</a>
          {% endif %}
          </li>
        {% endfor %}
      </div>
    </main>
  </body>

</html>
