---
layout: default
---
<h1 class="site-title">{{ site.title }}</h1>
<p class="sub-site-title">{{ site.description }}</p>

<div class="all-projects hide">
  {% for page in site.projects %}
    {% for prog in page.progression %}
      <p class="project-year-genre" data-year="{{ prog.year }}" data-genre="{{ prog.genre }}" data-project="{{ page.title }}"><a href="{{ page.url | relative_url }}">{{ page.title }}</a></p>
    {% endfor %}
  {% endfor %}
</div>

<div class="switcher">
  <p>
    <b>
      <a class="switcher-year" href="#">Date</a> •
      <a class="switcher-genre" href="#">Genre</a>
    </b>
  </p>
  <div class="by-year"></div>
  <div class="by-genre hide"></div>
</div>
