---
layout: default
---
<article class="project text">
  <span id="top"></span>
  <section class="project-content">
    <aside class="meta">
    </aside>
    <div class="section-content">
      <img src="{{ page.hero}}" class="project-hero" alt="" />
      <h1 class="project-title">{{ page.title | escape }}</h1>
      {{ content }}
    </div>
  </section>

  {% assign sections = site.content | sort: 'pubdate' %}
  {% for section in sections reversed %}
    {% if section.parent == page.title %}

      {%- include section-{{section.layout}}.html -%}

    {% endif %}
  {% endfor %}

</article>
