---
layout: default
---
<article class="project">

  <header class="project-header">
    <h1 class="project-title">{{ page.title | escape }}</h1>
  </header>

  <div class="project-content">
    {{ content }}
  </div>

  {% assign sections = site.content | sort: 'pubdate' %}
  {% for section in sections reversed %}
    {% if section.parent == page.title %}
    <div class="{{ section.layout }}">
      <h2>{{ section.title | split: "~" | last | strip }}</h2>
      <p class="pub-date">{{ section.pubdate }}</p>
      {% if section.summary %}
        <div class="text">{{ section.summary | markdownify }}</div>
        <p><a href="{{ section.url }}">More &rarr;</a></p>
      {% else %}
        <div class="text">{{ section.content }}</div>
      {% endif %}
    </div>
    {% endif %}
  {% endfor %}

</article>
