---
layout: default
---
<article class="project">
  <span id="top"></span>
  <h1 class="project-title">{{ page.title | escape }}</h1>
  {% if page.hero %}
    <!-- <img class="project-hero" src="{{ page.hero}}" /> -->
  {% endif %}
  <section class="intro txt">
    <div class="section-content">
      {{ content | markdownify }}
    </div>
  </section>

  {% assign sections = site.content %}
  {% assign contents = page.pcontent %}

  {% for content in contents %}
    {% for section in sections %}
      {% if section.title == content %}

      {%- include section.html -%}

      {% endif %}
    {% endfor %}
  {% endfor %}
</article>
