---
layout: layouts/base.njk
---
{% set sections = collections.content %}
{% set contents = children %}

<article class="project">
  {% if hero %}
  <div class="project-hero">
    <img src="{{ hero }}" />
  </div>
  {% endif %}
  {% if title %}
  <h1 class="project-title">{{ title }}</h1>
  {% endif %}
  {% if subtitle %}
  <h2 class="project-subtitle">{{ subtitle }}</h2>
  {% endif %}

  <div id="project-toc" class="project-toc">
    <ul>
      <li><a class="toc-link" href="#top">{{ title }}</a></li>
      {% for content in contents %}
        {% for section in sections %}
          {% if section.data.title == content %}
            <li><a class="toc-link" href="#{{ section.data.title.split('~').slice(-1)[0] | trim | slugify }}">{{ section.data.title.split('~').slice(-1)[0] | trim }}</a></li>
          {% endif %}
        {% endfor %}
      {% endfor %}
    </ul>
  </div>

  <aside class="project-tag">
    <span>{{ tags }} — {{ pubdate | yy }}</span>
  </aside>
  <section id="top">
    {% if summary %}
      <div class="summary">{{ summary | md | safe }}</div>
    {% endif %}
    {{ layoutContent | safe }}
  </section>

  {% for content in contents %}
    {% for section in sections %}
      {% if section.data.title == content %}

      <aside class="project-tag">
        <span>{{ section.data.tags }} — {{ section.data.pubdate | yy }}</span>
      </aside>
      <section id="{{ section.data.title.split('~').slice(-1)[0] | trim | slugify }}" class="section-content {{ section.data.tag }}" data-title="{{ section.data.title.split('~').slice(-1)[0] | trim | slugify }}">
        <h2>{{ section.data.title.split('~').slice(-1)[0] | trim }}</h2>
        {% if section.data.subtitle %}
          <h4>{{ section.data.subtitle | safe }}</h4>
        {% endif %}
        {% if section.data.summary %}
          <div class="summary">{{ section.data.summary | md | safe }}</div>
        {% endif %}
        <div class="full-content">{{ section.data.layoutContent | safe }}</div>
        {% if section.data.summary and section.data.content %}
          <a href="#" class="toggle-section" data-title="{{ section.data.title.split('~').slice(-1)[0] | trim | slugify }}">
            <span class="more"></span>
            <span class="less" style="display: none;"></span>
          </a>
        {% endif %}
      </section>

      {% endif %}
    {% endfor %}
  {% endfor %}
</article>
