---
layout: layouts/base.njk
---
<span id="top"></span>
<article class="project">
  {% if hero %}
  <div class="project-hero">
    <img src="{{ hero }}" />
  </div>
  {% endif %}
  {% if title %}
  <h1 class="project-title">{{ title }}</h1>
  {% endif %}
  {% if subtitle %}
  <h2 class="project-subtitle">{{ subtitle }}</h2>
  {% endif %}

  <div class="project-toc">
    TOC
  </div>
  
  <aside class="project-tag">
    <span>{{ tags }} — {{ pubdate }}</span>
  </aside>
  <section>
    <div class="summary">{{ summary | md | safe }}</div>
    {{ layoutContent | safe }}
  </section>

  {% set sections = collections.content %}
  {% set contents = children %}

  {% for content in contents %}
    {% for section in sections %}
      {% if section.data.title == content %}

      <aside class="project-tag">
        <span>{{ section.data.tags }} — {{ section.data.pubdate }}</span>
      </aside>
      <section id="{{ section.data.title.split('~').slice(-1)[0] | trim | slug }}" class="section-content {{ section.data.tag }}" data-title="{{ section.data.title.split('~').slice(-1)[0] | trim | slug }}">
        <h2>{{ section.data.title.split('~').slice(-1)[0] | trim }}</h2>
        {% if section.subtitle %}
          <h4>{{ section.data.subtitle | safe }}</h4>
        {% endif %}
        {% if section.data.summary %}
          <div class="summary">{{ section.data.summary | md | safe }}</div>
        {% endif %}
        <div class="full-content">{{ section.data.layoutContent | safe }}</div>
        {% if section.data.summary and section.data.content %}
          <a href="#" class="toggle-section" data-title="{{ section.data.title.split('~').slice(-1)[0] | trim | slug }}">
            <span class="more"></span>
            <span class="less" style="display: none;"></span>
          </a>
        {% endif %}
      </section>

      {% endif %}
    {% endfor %}
  {% endfor %}
</article>
