---
layout: layouts/base.njk
---
<article class="project cv">
  <span id="top"></span>
  <h1 class="project-title">{{ title }}</h1>

  <div class="summary">{{ summary | md | safe }}</div>

  <section class="intro txt">
    <div class="section-content">
      {{ layoutContent | safe }}
    </div>
  </section>

</article>
