---
layout: layouts/base.njk
---
<article class="project">
  <span id="top"></span>
  <h1 class="project-title fixed">{{ title }}</h1>
  <h1 class="project-title">{{ title }}</h1>

  <section class="intro txt">
    <div class="section-content">
      {{ layoutContent | safe }}
    </div>
  </section>

</article>
