<!DOCTYPE html>
<html lang="en">

  {% include "components/head.njk" %}

  <body>
    {% include "components/header.njk" %}
    <main class="home" aria-label="content">
      <div class="home-about" data-title="about">
        <div class="summary">{{ summary | md | safe }}</div>
        <div class="full-content">{{ layoutContent | safe }}</div>
        <a href="#" class="toggle-section" data-title="about">
          <span class="more">More</span>
          <span class="less">Less</span>
        </a>

        <ul class="social">
          <li><a href="mailto:{{ metadata.email }}" target="_blank" rel="noreferrer">{{ metadata.emailtxt }}</a></li>
          <li><a href="/curriculum-vitae/"><img src="/static/ui-img/icon-cv.svg" alt="CV"></a></li>
          <li><a href="{{ metadata.instagram }}" target="_blank" rel="noreferrer"><img src="/static/ui-img/icon-ig.svg" alt="IG"></a></li>
          <li><a href="{{ metadata.facebook }}" target="_blank" rel="noreferrer"><img src="/static/ui-img/icon-fb.svg" alt="FB"></a></li>
          <li><a href="{{ metadata.twitter }}" target="_blank" rel="noreferrer"><img src="/static/ui-img/icon-tw.svg" alt="TW"></a></li>
        </ul>

        <div class="partners">
          <h3>Partners</h3>
          <ul>
          {% for p in metadata.partners %}
            <li><a href="{{ p.url }}" target="_blank" rel="noreferrer">{{ p.name }}</a></li>
          {% endfor %}
          </ul>
        </div>

        <div class="copyright">
          <p>{{ metadata.copyright }} — <a href="https://mpalash.com" target="_blank" rel="noreferrer">Website dev-design by mpalash</a></p>
        </div>
      </div>
      <div class="home-list">
        {% include "components/list-all.njk" %}
      </div>
    </main>
  </body>

</html>
