<!DOCTYPE html>
<html lang="en">

  {% include "components/head.njk" %}

  <body>
    {% include "components/header.njk" %}
    <main class="home" aria-label="content">
      <div class="home-about" data-title="about">
        <div class="summary">{{ summary | md | safe }}</div>
        <div class="full-content">{{ layoutContent | safe }}</div>
        <a href="#" class="toggle-section" data-title="about">
          <span class="more"></span>
          <span class="less"></span>
        </a>

        <ul class="social">
          <li><a href="mailto:{{ metadata.email }}" target="_blank">{{ metadata.emailtxt }}</a></li>
          <li><a href="{{ metadata.instagram }}" target="_blank">IG</a></li>
          <li><a href="{{ metadata.facebook }}" target="_blank">FB</a></li>
          <li><a href="{{ metadata.twitter }}" target="_blank">TW</a></li>
        </ul>

        <div class="partners">
          <h3>Partners</h3>
          <ul>
          {% for p in metadata.partners %}
            <li><a href="{{ p.url }}" target="_blank">{{ p.name }}</a></li>
          {% endfor %}
          </ul>
        </div>

        <div class="copyright">
          <p>{{ metadata.copyright }} — <a href="https://mpalash.com" target="_blank">Website dev-design by mpalash</a></p>
        </div>
      </div>
      <div class="home-list">
        {% include "components/list-all.njk" %}
      </div>
    </main>
  </body>

</html>
