---
layout: layouts/base.njk
---
<article class="page">
  <h1 class="project-title">{{ title }}</h1>

  <section class="project-content">
    <aside class="meta">
    </aside>
    <div class="section-content">
      {{ layoutContent | safe }}
    </div>
  </section>

</article>
